.Produto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}
.Produto img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ff0000;
}